
<h1>Listado de Materias</h1>
<!-- <ul *ngFor="let item of materias" [dataSource]="dataSource">    
        
             <ng-container >               
                <p>  {{item.nombre}} </p>
            </ng-container> 
            <p >nombre: {{item.nombre}}</p>                      
            <p >cupos: {{item.cupos}}</p>
            <p >profesor: {{item.profesor}}</p> 
            <p >cuatrimestre: {{item.cuatrimestre}}</p> 
            <br>   
      
</ul>  -->

<table mat-table [dataSource]="materias">
    <tr>
        <ng-container matColumnDef="NombreMateria">
            <th mat-header-cell *matHeaderCellDef> Materia </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="Cuatrimestre">
            <th mat-header-cell *matHeaderCellDef> Cuatrimestre </th>
            <td mat-cell *matCellDef="let element"> {{element.cuatrimestre}} </td>
        </ng-container>
        <ng-container matColumnDef="Cupos">
            <th mat-header-cell *matHeaderCellDef> Cupos </th>
            <td mat-cell *matCellDef="let element"> {{element.cupos}} </td>
        </ng-container>
        <ng-container matColumnDef="NombreProfesor">
            <th mat-header-cell *matHeaderCellDef> Profesor </th>
            <td mat-cell *matCellDef="let element"> {{element.profesor}} </td>
        </ng-container>
    </tr>
    <div>
        <tr mat-header-row *matHeaderRowDef="columsAlumno"></tr>
        <tr mat-row *matRowDef="let row; columns: columsAlumno;" [appCuposFilas]="row.cupos"></tr>
    </div>
  
  </table>



