.login-pagina {
	font-size: 14px;
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: center;
}

.login-pagina .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.login-pagina .brand img {
	width: 100%;
}

.login-pagina .card-wrapper {
	width: 400px;
}

.login-pagina .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.login-pagina .card.fat {
	padding: 10px;
}

.login-pagina .card .card-title {
	margin-bottom: 30px;
}

.login-pagina .form-control {
	border-width: 2.3px;
}

.login-pagina .form-group label {
	width: 100%;
}

.login-pagina .btn.btn-block {
	padding: 12px 10px;
}

.login-pagina .margin-top20 {
	margin-top: 20px;
}

.login-pagina .no-margin {
	margin: 0;
}