<section class="h-100 login-pagina">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
       
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Ingreso</h4>
            <!-- agrego perfiles -->
<div class="buttonsLogin" >
    <p>Ingreso rapido</p>                                      
    <button class="btn login" (click)="ingresoAdministrador()" >Admin</button>
    <button class="btn login"  (click)="ingresoAlumno()" >Alumno</button>
    <button class="btn login" (click)="ingresoProfesor()" >Profesor</button>
   <p>.........................................</p>
  </div>
  <!-- agrego perfiles -->


            <form (ngSubmit)="f.form.valid && Logearse()" #f="ngForm" novalidate>

              <div class="form-group">
                <label for="email">Dirección de Email</label>

                <input id="email" type="email" class="form-control" name="email" [(ngModel)]="emailModel"
                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required autofocus>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Ingrese el Email</div>
                </div>
              </div>

              <div class="form-group">
                <label for="password">Contraseña
                  <!-- <a href="forgot.html" class="float-right">
                    Te olvidaste la contraseña?
                  </a> -->
                </label>
                <input id="password" type="password" class="form-control" name="password" [(ngModel)]="passwordModel"
                #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Ingrese la contraseña</div>
                </div>
              </div>

              <form class="margin-bottom">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck" name="remember">
                  <label class="custom-control-label" for="customCheck">Recordarme</label>
                </div>
              </form>




              <div class="form-group no-margin">
                <button type="submit" class="btn btn-primary btn-block">
                  Ingresar
                </button>
              </div>
              <div class="margin-top20 text-center">
               Registrar nueva cuenta<a routerLink="/registro">Registro</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>