@import "variables";

.color_primary {
    color: $primary;

    &:hover {
        color: $light-primary;
    }
}

.margin-bottom {
    margin-bottom: 1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
